.sidebar{
    left:0;
    bottom:0;
    top:55px;
    width:72px;
    position:fixed;
    background-color: white; 
    z-index: 200;
    padding-top: 5px;
    cursor: pointer;
}

.sidebar-icon{
    height:74px;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.sidebar-icon:hover{
    background-color: rgb(176, 176, 176);
}

.sidebar-icon img{
    height:24px;
    margin-bottom:4px;
}

.sidebar-icon div{
    font-size: 10px;
}